@import '../../helper/colors';
.itemContainer {
    width: 100%;
    padding: 1rem 2rem;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 5px;
    gap: 1rem;
    * {
        overflow: hidden;
    }
    div {
        display: flex;
        gap: 1.4rem;
        align-items: center;
    }
    p {
        color: $DarkBlue;
        overflow: hidden;
    }
    a {
        color: $Cyan;
    }
}

.btn {
    width: 90px;
    text-align: center;
    padding: 0.4rem 0rem;
    background-color: $Cyan;
    color: #fff;
    font-weight: 600;
    border-radius: 5px;
    font-size: .8rem;
    cursor: pointer;
    &:hover {
        opacity: .6;
    }
}

.btnDark {
    width: 90px;
    text-align: center;
    padding: 0.4rem 0rem;
    background-color: $DarkViolet;
    color: #fff;
    font-weight: 600;
    border-radius: 5px;
    font-size: .8rem;
    cursor: pointer;
}

@media (max-width: 900px) {
    .itemContainer {
        flex-direction: column;
        align-items: flex-start;
        gap: .5rem;
        div {
            width: 100%;
            justify-content: space-between;
            border-top: 1px solid rgba(0, 0, 0, 0.131);
            padding-top: .5rem;
        }
    }
}

@media (max-width: 600px) {
    .itemContainer {
        padding: 1rem;
        div {
            flex-direction: column;
            align-items: flex-start;
            gap: .7rem;
        }
        p {
            width: 100%;
            font-size: .85rem;
        }
        a {
            font-size: .85rem;
        }
    }
    .btn {
        width: 100%;
        font-size: 1rem;
    }
    .btnDark {
        padding: 1rem 0;
        width: 100%;
        font-size: 1rem;
    }
}