@import '../helper/colors';
.container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    background: url(../Assets/svg/bg-shorten-desktop.svg), $Violet;
    width: 80%;
    max-width: 1400px;
    margin: 4rem auto 0;
    justify-content: center;
    gap: 1.5rem;
    padding: 3rem 0;
    border-radius: 10px;
}

.input {
    width: 70%;
    background-color: #fff;
    padding: 1rem 2rem;
    border-radius: 10px;
    &:focus {
        outline: 3px solid $Cyan;
    }
}

.button {
    padding: 1rem 0;
    width: 20%;
    color: #fff;
    background-color: $Cyan;
    font-weight: 600;
    border-radius: 10px;
    &:hover {
        background-color: rgb(106, 227, 227);
    }
}

@media (max-width: 900px) {
    .container {
        width: 90%;
        padding: 2rem 0;
        gap: 1rem;
    }
    .input {
        padding: .7rem 1rem;
    }
    .button {
        padding: .7rem 0;
        font-size: .9rem;
    }
}

@media (max-width: 600px) {
    .container {
        background: url(../Assets/svg/bg-shorten-mobile.svg), $Violet;
        background-size: contain;
        background-repeat: no-repeat;
        padding: 1.3rem 0;
    }
    .input {
        width: 90%;
        margin: .5rem auto;
        border-radius: 5px;
        padding: .9rem 1rem;
    }
    .button {
        width: 90%;
        border-radius: 5px;
        padding: .8rem 1rem;
        font-size: 1.1rem;
    }
}