@import '../../helper/colors';
.headerContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 6rem;
    gap: .6rem;
    h2 {
        font-size: 2.3rem;
        font-weight: 900;
        color: $DarkBlue;
    }
    p {
        font-size: .9rem;
        width: 500px;
        color: $GrayisViolet;
        text-align: center;
    }
}

@media (max-width: 600px) {
    .headerContainer {
        padding: 0 .3rem;
        h2 {
            font-size: 1.5rem;
            text-align: center;
        }
        p {
            width: 100%;
            // font-size: .8rem;
        }
    }
}